# Website 
LOGIN_URL=https://yourwebsite.com/login
BASE_URL=https://yourwebsite.com/backend

LOGIN_EMAIL=your_email@example.com
LOGIN_PASSWORD=your_password

# Email Notification
EMAIL_TO=receiver@example.com
EMAIL_CC=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=example@gmail.com
SMTP_MAIL_FROM=example@gmail.com
SMTP_PASSWORD=your_app_password

# Backup Folder
BACKUP_PATH=C:\Software Backups